/* hide honeypot */
.ohno{
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 0;
    z-index: -1;
}

html{
    background-color: #eee;
    padding: 0;
    margin: 0;
}

body{
    padding: 25px;
    width: 95%;
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    font-family: sans-serif;
}

h1{
    font-family: monospace;
    text-decoration: underline;
}

pre{
    padding: 5px;
    border-radius: 5px;
    font-size: 0.9em;
    background-color: #eee;
    box-shadow: 0 0 5px 5px #eee;
}